
* {
    --line-width: 3%;
}

.timeviz {
    position: relative;
    display: grid;
    height: 100%;
    background: black;
    margin: auto;
    grid-template-rows: auto 40px;
    color: white;
}

.timeviz .marker .label {
    position: relative;
    margin: auto;
    transform: translateX(-50%);
    text-align: center;
}

.timevizContainer {
    position: relative;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.hMarker::before {
    content: "\a0";
    display: block;
    padding: 1
}

.timeviz svg {
    position: absolute;
}

.tripsContainer {
    position: relative;
    height: 100%;
    display: grid;
    /* grid-row-gap: 10%; */
    grid-template-columns: 1fr;
}

.clusterLabelContainer {
    background: rgb(71, 46, 0);
    display: grid;
}

.clusterLabel {
    /* height: 100%; */
    margin: auto;
    position: fixed;
    color: white;
    /* color: rgb(206, 175, 0); */
    z-index: 10;
}

.trip {
    position: absolute;
    height: 100%;
}

.tripsContainer svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    /* overflow: visible; */
}